<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAp2pYqZqVj5DVNC6QsuFYp0IFRSsKH70I</string>
	<key>GCM_SENDER_ID</key>
	<string>377863345004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.complianceunit.app</string>
	<key>PROJECT_ID</key>
	<string>compliance-unit</string>
	<key>STORAGE_BUCKET</key>
	<string>compliance-unit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377863345004:ios:fe9ea200e2d0246133d949</string>
</dict>
</plist>